:root {
    --container-width: 35rem;
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --font-size: 18px;
    --line-height: 1.7;
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
    :root {
        --color-accent: hsl(19, 72%, 61%);
        --color-background: hsl(210, 5%, 8%);
        --color-body: hsl(210, 3%, 75%);
        --color-border: hsl(210, 3%, 30%);
        --color-muted: hsl(210, 3%, 50%);
    }
}

@media (prefers-color-scheme: light), print {
    :root {
        --color-accent: hsl(225, 80%, 57%);
        --color-background: hsl(104, 100%, 100%);
        --color-body: hsl(109, 0%, 30%);
        --color-border: hsl(204, 0%, 80%);
        --color-muted: hsl(109, 0%, 40%);
    }
}

@media print {
    footer {
        display: none;
    }
}

::selection {
    background: var(--color-body);
    color: var(--color-background);
}

html {
    background: var(--color-background);
    color: var(--color-body);
    font-family: var(--font-sans);
    font-size: var(--font-size);
    line-height: var(--line-height);
    text-rendering: optimizeLegibility;
}

body {
    background: var(--color-background);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    max-width: var(--container-width);
    padding-left: 1rem;
    padding-right: 1rem;
}

p,
font {
    color: var(--color-body);
    font-family: var(--font-sans);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

a {
    background-image: linear-gradient(var(--color-border), var(--color-border));
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    color: var(--color-body);
    text-decoration: none;
}
a:visited { color: var(--color-muted); }
a:hover { color: var(--color-accent); }

u {
    text-decoration: none;
}

hr {
    border-top: 1px solid var(--colors-border);
}

blockquote {
    color: var(--color-muted);
}

/* Layout */
/* Stop using tables for layout */
body > table,
body > table > tbody,
body > table > tbody > tr,
body > table > tbody > tr > td,
body > table > tbody > tr > td > table {
    display: flex;
    width: 100%;
}
body > table > tbody > tr > td > table > tbody,
body > table > tbody > tr > td > table > tbody > tr,
body > table > tbody > tr > td > table > tbody > tr > td {
    display: block;
    width: 100%;
}
body > table > tbody > tr > td:nth-child(3) {
    display: flex;
    flex-direction: column;
}

/* Hide image map navigation */
body > table > tbody > tr > td:not(:last-child) {
    display: none;
}

body > table > tbody > tr > td > table {
    max-width: var(--container-width);
}

/* Hide random hr at end of content */
body > table > tbody > tr > td > table > tbody > tr > td > font > hr {
    display: none;
}

/* Hide logo */
a[href="index.html"] {
    display: none;
    max-width: max-content;
}

/* Page titles */
/* Hold space on page for image to be swapped for h1 */
tr td table tbody tr td img {
    height: 3.45rem;
    opacity: 0;
}
h1 {
    color: var(--color-body);
    font-size: 2rem;
    margin-bottom: 0;
}

/* Bullet images */
img[src="https://sep.yimg.com/ca/Img/trans_1x1.gif"] {
    display: none;
}
img[src="https://sep.yimg.com/ca/I/paulgraham_2272_1423"] {
    display: none;
}

/* YC banner */
td[bgcolor="#ff9922"] {
    display: none;
}

/* Footnotes */
font[color="#999999"],
font[color="#dddddd"] {
    color: var(--color-muted);
}

/* Text dividers */
center {
    color: var(--color-muted);
}

/* Tables */
center table,
center table * {
    border-color: var(--color-border);
}

center table {
    border-collapse: collapse;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

center table td {
    padding: 0.25rem 0.5rem;
}
